name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - develop
      - feature/**

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pre-reqs
        run: |
          sudo apt-get update
          sudo apt-get install black
      - name: Shellcheck
        run: |
          set -xe
          shellcheck scripts/lcov-jenkins-gcc-13.sh 
      - name: Black
        run: |
          set -xe
          black --check scripts/gcov-compare.py
